DATABASE_URL=postgresql://postgres:11235813@localhost:5432/umltool
NODE_ENV=development
OPENAI_API_KEY=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

GOOGLE_API_KEY=AIzaSyDruDxONi5_I6t1ymeeZstFGksxm9VhMSg

GEMINI_MODEL=gemini-2.5-flash (por defecto)
# GEMINI_API_VERSION=v1 (por defecto)